<div class="roombooking">
<h1><{$smarty.const._MD_ROOMBOOKING_LANG_ROOM_LIST}><{$smarty.const._LIST}></h1>
<ul class="hmenu">
  <li><a href="<{xoops_cooluri dirname=$dirname dataname=$dataname action=edit}>"><{$smarty.const._MD_ROOMBOOKING_LANG_ADD_A_NEW_ROOM_LIST}></a></li>
</ul>

<{if count($objects) > 0}>
  <div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
  <table class="outer" summary="">
    <thead>
      <tr>
        <th>
          <{$smarty.const._MD_ROOMBOOKING_LANG_ROOM_LIST_ID}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.ROOMBOOKING_ROOM_LIST_SORT_KEY_ROOM_LIST_ID}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.ROOMBOOKING_ROOM_LIST_SORT_KEY_ROOM_LIST_ID}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_ROOMBOOKING_LANG_TITLE}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.ROOMBOOKING_ROOM_LIST_SORT_KEY_TITLE}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.ROOMBOOKING_ROOM_LIST_SORT_KEY_TITLE}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_ROOMBOOKING_LANG_POSTTIME}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.ROOMBOOKING_ROOM_LIST_SORT_KEY_POSTTIME}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.ROOMBOOKING_ROOM_LIST_SORT_KEY_POSTTIME}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th><{$smarty.const._MD_ROOMBOOKING_LANG_CONTROL}></th>
      </tr>
    </thead>
    <tbody>
      <{foreach item=obj from=$objects}>
        <tr class="<{cycle values='odd,even'}>">
          <td><{$obj->getShow('room_list_id')}></td>
          <td><{$obj->getShow('title')}></td>
          <td><{$obj->getShow('posttime')|xoops_formattimestamp:m}></td>

          <td>
            <a href="<{xoops_cooluri dirname=$dirname dataname=$dataname data_id=$obj->getShow('room_list_id') action=view}>"><{$smarty.const._VIEW}></a>
            <a href="<{xoops_cooluri dirname=$dirname dataname=$dataname data_id=$obj->getShow('room_list_id') action=edit}>"><{$smarty.const._EDIT}></a>
            <a href="<{xoops_cooluri dirname=$dirname dataname=$dataname data_id=$obj->getShow('room_list_id') action=delete}>"><{$smarty.const._DELETE}></a>
          </td>
        </tr>
      <{/foreach}>
    </tbody>
  </table>
  <div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
<{/if}>
</div>
